certifi==2025.1.31
chispa==0.11.1
distlib==0.3.9
filelock==3.18.0
iniconfig==2.1.0
packaging==24.2
pbr==6.1.1
platformdirs==4.3.7
pluggy==1.5.0
prettytable==3.16.0
py4j==0.10.9.7
pyspark==3.5.5
pytest==8.3.5
setuptools==78.1.0
virtualenv==20.30.0
wcwidth==0.2.13
